title{
    font-size:30px;
    animation: colorChange 5s infinite;

}

@keyframes colorChange{
    0%{
        color:red;
    }

    25% {
        color: blue;
    }

    50% {
        color: green;
    }

    75% {
        color: orange;
    }

   100% {
        color: red;
    }
}


body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#weather-app {
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color:aquamarine;
}

#weather-data {
    margin-top: 20px;
}

h1{
    font-size:24px;
    color:darkblue;
    animation: colorChange 5s infinite;
}
